// 先引入主题的默认变量
.main-menu > ul > li{
  color: #990000;
}
.main-menu > ul > li > a {
  color: #990000;
}

.hero-image .hero-text p {
 line-height: 2.4rem;
}
// 覆盖变量
$color-visited-link: #ff0000; // 设置自定义的已访问链接颜色
